

.portfolioTextbox {

    background-color: #4aaaa5; 
    color: white; 
    line-height: 40px;
    position: relative;
    bottom: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}


#titlecolor {
    background-color:#4aaaa5;
    line-height: 90px;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

#navbarcolor {
    background-color: white;
}

#bigcontainer {
    background: url("concrete_seamless.png");
}

#smallcontainer {

    background-color: white;
}
#firstrow{
    height: 10px;
}


div.relative{
    position: relative;
    Top: 30px;
}

nav li {
    display: inline-block;
  
    /* Box-model */
    padding-left: 15px;
  
    /* Positioning */
    margin-left: 15px;
  
    /* Typography */
    line-height: 18px;
  
    /* Visual */
    border-left: 1px solid #efefef;
  }
  
  nav a {
    /* Typography */
    color: #999;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #666;
  }
  
  nav li:first-child {
    /* Box-model */
    padding-left: 0;
  
    /* Positioning */
    margin-left: 0;
  
    /* Visual */
    border-left: 0 none;
  }
  